.appointment-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.appointment-details > div {
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 280px;
}
.appointment-details > div {
  line-height: 1.3;
}
.appointment-details > div > svg {
  height: 100%;
}
