@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
  --green: 215, 225, 100;
  --green-light: 244, 246, 211;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.date-calendar .MuiPickersDay-today {
  border: 0px !important;
  position: relative;
}

.date-calendar {
  max-height: none;
  height: auto;
}
.date-calendar .MuiPickersDay-today::after {
  content: "";
  position: absolute;
  bottom: 3px;
  background-color: rgb(var(--green));
  width: 5px;
  height: 5px;
  left: calc(50% - 2px);
  border-radius: 50%;
}
.MuiPickersDay-root:hover {
  background-color: rgb(var(--green-light)) !important;
}
.date-calendar .Mui-selected {
  border: 0px;
  background-color: rgb(var(--green)) !important;
  color: white;
  font-weight: 600 !important;
}

.date-calendar .Mui-selected:hover {
  background-color: rgb(var(--green));
}

.date-calendar .Mui-disabled {
  background-color: rgb(var(--green-light));
}
.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(var(--green)) !important;
}
.date-calendar .MuiPickersDay-root {
  width: 50px;
  height: 50px;
}
.MuiPopover-paper option:hover {
  background-color: rgb(234, 234, 234);
}
.Mui-selected {
  background-color: rgb(var(--green-light)) !important;
}
option {
  cursor: pointer;
}
.MuiPaper-root ul {
  padding: 0px;
}

body {
  color: black;
  background: url("./../../public/model.png") no-repeat;
  background-size: 1200px;
  background-position: center;
  /**background: rgb(var(--background-rgb)); **/
}
.card {
  opacity: 0.7;
  box-shadow: 0px 0px 6px 0px rgba(181, 181, 181, 1);
  font-size: 18px;
}

.MuiPickersArrowSwitcher-button {
  height: 40px;
  width: 40px;
}
.MuiDateCalendar-root *[role="row"] {
  justify-content: space-around;
}
.MuiDateCalendar-root .MuiDayCalendar-monthContainer *[role="row"] {
  height: 57px;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
